@import '../global.scss';
@import '../variables.scss';
.container{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--primary-color);
    padding-left: 72px;
    padding-right: 72px;
}
@media only screen and (max-width: $breakpoint-mobile) {
    .container{
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    .container{
        padding-left: 16px;
        padding-right: 16px;
    }
}