@import "../global.scss";
@import "../variables.scss";

.container {
  width: 100%;
  background-color: var(--primary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  .heading {
    text-align: center;
    color: var(--description);
    font-size: 40px;
    font-family: Plus Jakarta Sans;
    line-height: 22.4px;
    word-wrap: break-word;
  }
  .description {
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-weight: 500px;
    font-size: 19px;
    color: var(--dashboard-heading);
  }
  .cards {
    display: flex;
    flex-direction: column;
    padding-top: 42px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 32px;
    .experienceCard {
      box-shadow: var(--card-shadow);
      background-color: var(--card-color);
      border-radius: 8px;
      padding: 20px;
      padding-left: 32px;
      padding-right: 32px;
      width: 70%;
      margin: auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-4px);
        box-shadow: var(--card-shadow);
      }
      .company {
        flex: 1;
        display: flex;
        align-items: center;

        .companyLogo {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 12px;
        }

        .companyName {
          font-weight: bold;
          font-size: 1rem;
          color: var(--description);
        }
      }

      .experienceDetails {
        //   flex: 2;
        padding: 0 16px;

        // Optional heading for this section
        .heading {
          font-size: 1.125rem;
          font-weight: bold;
          margin-bottom: 8px;
          font-family: Plus Jakarta Sans;
          color: var(--description);
        }

        // Bullet points list
        ul {
          margin: 0;

          li {
            margin-bottom: 8px;
            list-style: disc;
            font-family: Plus Jakarta Sans;
            font-size: 0.95rem;
            color: var(--description);
          }
        }
      }

      .timePeriod {
        flex: 1;
        font-size: 0.875rem;
        text-align: right;
        font-family: Plus Jakarta Sans;
        color: var(--description);
      }
    }
  }
}
@media only screen and (max-width: $breakpoint-mobile) {
  .container{
    .heading{
      font-size: 32px;
    }
    .description{
      font-size: 18px;
    }
    .cards {
      padding-left: 8px;
      padding-right: 8px;
      gap: 20px;

      .experienceCard {
        width: 90%; /* Full width on mobile */
        padding: 12px; /* Reduce padding */
        flex-direction: column; /* Stack items vertically */

        .company {
          flex-direction: column;
          align-items: center;
          text-align: center;

          .companyLogo {
            width: 40px;
            height: 40px;
            margin-right: 0;
            margin-bottom: 8px;
          }

          .companyName {
            font-size: 0.9rem;
          }
        }

        .experienceDetails {
          padding: 8px;
          
          .heading {
            font-size: 1rem;
            text-align: center;
          }

          ul {
            padding-left: 16px;
            li {
              font-size: 0.85rem;
            }
          }
        }

        .timePeriod {
          text-align: center;
          font-size: 0.8rem;
        }
      }
    }
  }
}
@media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
  .container{
    .cards{
      padding-left: 16px;
      padding-right: 16px;
      .experienceCard{
        width: 90%;
      }
    }
  }
}