@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

:root {
    iframe#webpack-dev-server-client-overlay {
        display: none !important
    }
    

    /* primary colors */
    --primary-color: #121212;

    /* Secondary colors */
    --secondary-color: #d9d9d9;
    --blue-color:#3f7bc9;
    /* white color */
    --white-color: #FFFFFF;
    --bg-color:  #FFFFFF;
    --bg-body:#fafbfb;
    --title:#CCCCCC;
    --dashboard-heading:#c7cdd6;
    --description:white;
    --box-shadow: 0 10px 15px rgba(255, 255, 255, 0.1);
    --card-color:#1f2937;
    --card-shadow: 0 4px 6px rgba(255, 255, 255, 0.08);

}

[data-theme="light"] {
    --primary-color: #FFFFFF;

    /* Secondary colors */
    --secondary-color: #101828;
    --bg-color:  #FFFFFF;
    --bg-body:#fafbfb;
    --title:#42446E;
    --dashboard-heading:#475467;
    --description:#101828;
    --box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    --card-color:#FFF;
    
    --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: var(--bg-body);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: auto;
    height: 100%;
    overflow-y: auto;
}
